

.homepage-title-text {
  width: 100%;
  height: 90vh;
  //background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.5) 20%, hsl(0 0% 0% / 1));

  .homepage-title {
    width: 100%;
    text-align: center;
    padding: 2em 0 0 0;
    h2 {
      font-size: 160px;
      color: #066abe;
      font-family: 'Righteous', cursive;

    }
  }

}


